useDynLib(EPOC, .registration = TRUE)
import(methods)
exportPattern("^[[:alpha:]]+")
exportMethods(
    "addFileConnection",
    "asCSVCharacter",
    "closeDatafiles",
    "closeFileConnection",
    "createCalendar",
    "createUniverse",
    "dayFromDate",
    "doFlag",
    "doPrint",
    "doPrintFinal",
    "doUpdate",
    "epocDebugMessage",
    "epocErrorMessage",
    "epocMessage",
    "epocVerboseMessage",
    "fixedFieldLength",
    "fromCSVCharacter",
    "getActionMatForPeriod",
    "getAttribute",
    "getAttributeNames",
    "getBasePath",
    "getBirthday",
    "getCalendar",
    "getElementIndexes",
    "getEPOCElement",
    "getFileConnection",
    "getFullSignature",
    "getFunctionData",
    "getInfoForPeriod",
    "getNoCase",
    "getPeriod",
    "getPeriodActionMat",
    "getPeriodElementTSData",
    "getPeriodInfo",
    "getPolygons",
    "getReport",
    "getRTState",
    "getRuntimePath",
    "getSignature",
    "getSignatureItem",
    "getSignatureLine",
    "getSignatureMulti",
    "getSimpleSignature",
    "getSlot",
    "getSlotNames",
    "getSpatial",
    "getState",
    "getTimestep",
    "getTransition",
    "getScenario",
    "getUniverse",
    "initialiseElementTransitions",
    "initialiseElementScenarios",
    "initialiseTransition",
    "initialiseScenario",
    "initialiseReplicate",
    "initialize",
    "outputCalendar",
    "parseInputData",
    "printCalendar",
    "printState",
    "readFileConnection",
    "reSourceElementClasses",
    "reSourceElementMethods",
    "runSimulation",
    "serialiseSimulation",
    "setAttribute",
    "setEPOCCPPMethod",
	"setEPOCLibMethod",
    "setEPOCElement",
    "setFunctionData",
    "setSignature",
    "setSlot",
    "setState",
    "setTimestep",
    "setTransition",
    "sourceMethods",
    "testInputPaths",
    "unserialiseSimulation",
    "updateState",
    "writeFileConnection" 
)
exportClasses(
    "Activity",
     "Biota",
     "Calendar",
     "Controller",
     "Element",
     "Environment",
     "EPOCObject",
     "Management",
     "Output",
     "Period",
     "Presentation",
     "Signature",
     "Spatial",
     "Scenario",
     "Universe" 
)
